@model IEnumerable<PhamVanNhan441.Models.CompanyPVN441>

@{
    ViewData["Title"] = "Index";
}

<h1>Công Ty PVN441</h1>

<p>
    <a asp-action="Create">Thêm Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
